<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>projecttransferdatesbetweenviews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDF4F8CF1D89B8A800DDF1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF4F8E31D89B8A800DDF1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF4F8EE1D89B8A800DDF1B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
